# only manual
trigger: none
pr: none

parameters:
  - name: 'DEV'
    displayName: 'Run on DEV environment'
    type: boolean
    default: True
    values:
      - False
      - True


variables:
  TIME_OUT: 10
  AKS_DEV_NAME: '$(TF_AKS_DEV_NAME)'
  AKS_DEV_RESOURCE_GROUP: '$(TF_AKS_DEV_RESOURCE_GROUP)'

pool:
  vmImage: 'ubuntu-20.04'

resources:
  repositories:
    - repository: terraform
      type: github
      name: pagopa/azure-pipeline-templates
      ref: refs/heads/DEVOPS-839-aks-pipelines-connessione-tramite-sp
      endpoint: 'io-azure-devops-github-ro'

stages:
      - ${{ if eq(parameters['DEV'], true) }}:
        # # DEV ecommerce COMMON
        # - template: templates/terraform-aks-plan-apply/template.yaml@terraform
        #   parameters:
        #     TF_ENVIRONMENT_FOLDER: "dev"
        #     WORKINGDIR: 'src/domains/diego-common'
        #     AZURE_SERVICE_CONNECTION_NAME: devopslab-SERVICE-CONN
        #     AKS_NAME: ${{ variables.AKS_DEV_NAME }}
        #     AKS_RESOURCE_GROUP: ${{ variables.AKS_DEV_RESOURCE_GROUP }}

        # DEV diego APP
        - template: templates/terraform-aks-plan-apply/template.yaml@terraform
          parameters:
            DOMAIN_NAME: 'diego-app'
            AZURE_DEVOPS_POOL_AGENT_NAME: "devopslab-dev-linux"
            TF_ENVIRONMENT_FOLDER: "dev"
            WORKINGDIR: 'src/domains/diego-app'
            AZURE_SERVICE_CONNECTION_NAME: devopslab-SERVICE-CONN
            AKS_NAME: ${{ variables.AKS_DEV_NAME }}
            AKS_RESOURCE_GROUP: ${{ variables.AKS_DEV_RESOURCE_GROUP }}
